{% extends "base.html" %}

{% block content %}
<h1>{{user.first_name}}'s Profile</h1>
<div class="row" id="badges">
	<div class="col s12">
		<h4>Badges {% if user == request.user %}You've{% else %}{{user.first_name}} has{% endif %} Started</h4>
	</div>
	<div class="list">
		{% if user.started_badges %}
			{% for started in user.started_badges %}
			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-image">
						<a href="{% url 'badge_detail' started.badge.id %}">
							<img width=200 src="{{ started.badge.image_url }}">
						</a>
					</div>

					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4 badge-title">{{ started.badge.title|capfirst }}<i class="material-icons right">more_vert</i></span>

						<a href="{% url 'badge_detail' started.badge.id %}">Learn more.</a>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{ started.badge.title|capfirst }}<i class="material-icons right">close</i></span>
						<p>{{ started.badge.brief }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		{% elif user == request.user %}
			<div class="col s12">
				Nothing! <a href="{% url 'index' %}"> Why not look for something to work on?</a>
			</div>
		{% endif %}
	</div>
	<div class="col s12">
		<h4>Badges Waiting for Approval</h4>
	</div>
	<div class="list">
		{% if user.pending_badges %}
			{% for pending in user.pending_badges %}
			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-image">
						<a href="{% url 'badge_detail' pending.badge.id %}">
							<img width=200 src="{{ pending.badge.image_url }}">
						</a>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4 badge-title">{{ pending.badge.title|capfirst }}<i class="material-icons right">more_vert</i></span>

						<a href="{% url 'badge_detail' pending.badge.id %}">Learn more.</a>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{ pending.badge.title|capfirst }}<i class="material-icons right">close</i></span>
						<p>{{ pending.badge.brief }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		{% elif user == request.user %}
			<div class="col s12">
				None!</a>
			</div>
		{% endif %}
	</div>
		<div class="col s12">
		<h4>Badges Earned</h4>
	</div>
	<div class="list">
		{% if user.earned_badges %}
			{% for earned in user.earned_badges %}
			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-image">
						<a href="{% url 'badge_detail' earned.badge.id %}">
							<img width=200 src="{{ earned.badge.image_url }}">
						</a>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4 badge-title">{{ earned.badge.title|capfirst }}<i class="material-icons right">more_vert</i></span>
						
						<a href="{% url 'badge_detail' earned.badge.id %}">Learn more.</a>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{ earned.badge.title|capfirst }}<i class="material-icons right">close</i></span>
						<p>{{ earned.badge.brief }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		{% elif user == request.user %}
			<div class="col s12">
				None yet. Better get moving!</a>
			</div>
		{% endif %}
	</div>

</div>
{% endblock content %}

{% block resources %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<script type="text/javascript">
	$(function() {
		var options = {
			valueNames: ['badge-title']
		};
		var userList = new List('badges', options)
	});
</script>
{% endblock resources %}