{% extends "base.html" %}

{% block content %}
<div class="row" id="badges">
	<div class="col s12">
		<input class="search" placeholder="Search" />
	</div>
	<div class="list">
	{% for badge in badges %}
		<div class="col s12 m6 l4">
			<div class="card">
		        <div class="card-image">
					<a href="{% url 'badge_detail' badge.id %}">
						<img width=200 src="{{ badge.image_url }}">
					</a>
		        </div>

		        <div class="card-content">
			        <span class="card-title activator grey-text text-darken-4 badge-title">{{ badge.title|capfirst }}<i class="material-icons right">more_vert</i></span>
      
	                <a href="{% url 'badge_detail' badge.id %}">Learn more.</a>
	            </div>
	            <div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{ badge.title|capfirst }}<i class="material-icons right">close</i></span>
			        <p>{{ badge.brief }}</p>
			    </div>
            </div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock content %}

{% block resources %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<script type="text/javascript">
	$(function() {
		var options = {
			valueNames: ['badge-title']
		};
		var userList = new List('badges', options)
	});
</script>
{% endblock resources %}