{% extends "base.html" %}

{% block title %}{{ badge.title }}{% endblock %}

{% block content %}

<div class="row">

      <div class="col s3">
        <img class="responsive-img" src="{{ badge.image_url }}" alt="" class="circle"><br/>
        <span class="title"><strong>{{ badge.title }}</strong></span>
        <p>{{ badge.brief }} </p>
      </div>

      <div class="col s9">
        <h4>Requirements</h4>
		<p>{% autoescape off %} {{ badge.requirements_html }} {% endautoescape %}</p>
		<p>{% autoescape off %} {{ badge.description_html }} {% endautoescape %}</p>
      </div>
</div>
{% endblock content %}

