{% extends "base.html" %}

{% block title %}{{profile_user.first_name}}'s Profile{% endblock %}

{% block content %}
<h1>{{profile_user.first_name}}'s Profile</h1>
<div class="row" id="badges">

	{% if user.is_authenticated and profile_user.id == user.id %}
		{% include "badges/badges_snippet.html" with badges=profile_user.started_badges heading="Badges Started" empty_message="Nothing! Why not look for something to work on?" %}

		{% include "badges/badges_snippet.html" with badges=profile_user.pending_badges heading="Badges Waiting for Approval" empty_message="No badges waiting approval." %}
	{% endif %}

	{% include "badges/badges_snippet.html" with badges=profile_user.earned_badges heading="Badges Earned" empty_message="No earned badges yet." %}


</div>
{% endblock content %}

{% block resources %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<script type="text/javascript">
	$(function() {
		var options = {
			valueNames: ['badge-title']
		};
		var userList = new List('badges', options)
	});
</script>
{% endblock resources %}